<%- include('layout') %>

<h1>Witaj w Systemie Treningów Fitness!</h1>
<p>Planuj swoje treningi i monitoruj postępy.</p>
<div class="stats">
    <p>Treningi w tym tygodniu: <%= weekStats %></p>
    <p>Treningi w tym miesiącu: <%= monthStats %></p>
</div>
