<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>System Treningów Fitness</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Strona główna</a></li>
            <li><a href="/workouts">Treningi</a></li>
            <li><a href="/stats">Statystyki</a></li>
            <li><a href="/planner">Planowanie</a></li>
        </ul>
    </nav>
    <div id="app">
        <%- body %>
    </div>
    <script src="/js/app.js"></script>
</body>
</html>
